<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Single Book</title>
</head>

<body class="bg-primary p-2">
        <h1>{{ single_book_data.title }}</h1>
    <table class="table text-warning table-hover table-dark table-striped table-bordered border-warning mt-3">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for book in single_book_data.authors %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.first_name }}</td>
                <td>{{ book.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/add_users_favorites" method="post">
        <input type="hidden" name="book_id" value="{{single_book_data.id}}">
        <h3>Add Favorites:</h3>
        <label for="user_id">Add Book to User's Favorite</label>
        <select name="user_id">
            <option disabled selected></option>
            {% for non_favorite_user in non_favorite_users %}
            <option value="{{ non_favorite_user.id }}">{{ non_favorite_user.first_name }} {{ non_favorite_user.last_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Favorite">
    </form>
    <a class="text-warning" href="/">Go Home</a>
</body>

</html>